a:hover,
.dropdown-menu a:hover,
#top-bar .right .welcome-text a,
ul.megamenu > li > a:hover,
ul.megamenu > li.active > a,
ul.megamenu > li.home > a,
ul.megamenu > li:hover > a,
#modalAddToCartProduct .desctope .left .tt-modal-messages i,
#modalAddToCartProduct .desctope .right .tt-cart-total .tt-price,
#main .mfilter-heading,
.pagination-results ul.pagination li.active,
.rating i.active,
.product-list .product .right .price .price-new,
.product-info .product-center .price .price-new,
.htabs a.selected,
#accordion2 .card .card-header .btn-link:not(.collapsed),
#accordion4 .card .card-header .btn-link:not(.collapsed),
.product-info .product-center .options .form-group > label,
.contact-page > ul li i,
.banners-2 .banner .banner-content p,
.contact-box ul li i,
.contact-box .items .item p span,
.product-filter .open-filter,
.product-grid .product-type-2 .right .price .price-new,
.product-list.type-2 .product-2 .center .price .price-new,
.product-bar .container .form-group > label,
.product-bar .container .name .price,
#main .mfilter-checkbox .mfilter-col-input.mfilter-input-active:after,
.advanced-grid .advanced-grid-products .product .right .price .price-new,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active,
ul.megamenu li .sub-menu .content .static-menu a.main-menu,
ul.megamenu li .sub-menu .content .hover-menu li:hover > a,
#modalAddToCartProduct .mobile i,
.box-category ul li a.active {
  color: #000;
}
.about-1 .parallax p,
.about-3 .item h5,
.carouselItem .testimonial .fa-quote-right {
  color: #d8ae5b;
}
.bar3 .item .icon svg path,
.bar3 .item .icon svg g {
  fill: #000 !important;
}
ul.megamenu li .sub-menu .content .hover-menu li:hover > a:before,
.post-entry .post-content .quote {
  border-left-color: #000;
}
@media (max-width: 767px) {
  .responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li a:hover,
  .responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li a:hover,
  .responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li.active > a,
  .responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li.active > a {
    color: #000 !important;
  }
}
.button,
.btn,
ul.megamenu > li > a:before,
.bottom-bar .open-cart a .cart-count,
#mobile-header-2 .top-center .open-cart2 a .cart-count,
#mobile-header-3 .top-center .open-cart a .cart-count,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active:before {
  background: #000 !important;
}
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link:hover {
  color: #000 !important;
}
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active:before {
  background: #000 !important;
  height: 2px;
}
.product-info .product-image .product-image-left ul li a.active,
.product-info.product-type-4 .product-image .product-image-left ul li a.active,
.product-info .product-center .options .radio-type-button2.active label,
.product-bar .container .radio-type-button2.active label {
  border-color: #d8ae5b;
}
.product-info .product-center .hurry-up .line .line2 {
  background: #d8ae5b;
}
.product-info .product-center .price .price-new,
.product-info .product-center .hurry-up .heading span,
.htabs a.selected,
.rating i.active {
  color: #d8ae5b;
}
.buttons .left .button,
.buttons .center .button,
.btn-default,
.input-group-btn .btn-primary {
  background: #000 !important;
}
.is-countdown .countdown-amount {
  color: #d8ae5b;
  font-weight: 500;
}
#top .top-center .right .wishlist .wishlist-count,
header .slider-header #top .wishlist .wishlist-count,
.bottom-bar .open-wishlist a .wishlist-count,
#mobile-header-3 .top-center .open-wishlist a .wishlist-count {
  background: #fff;
  color: #000;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}
header .top-center .right #cart_block .cart-heading .cart-count,
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading .cart-count,
#mobile-header-2 .top-center .open-cart2 a .cart-count,
.bottom-bar .open-cart a .cart-count,
#mobile-header-3 .top-center .open-cart a .cart-count {
  background: #fff !important;
  color: #000 !important;
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
}
header #top .top-center .right .desktop-search .open-search a svg {
  width: 24px;
  height: 24px;
}
#top .top-center .right #cart_block .cart-heading .open-cart svg g,
#top .top-center .right #cart_block .cart-heading .open-cart svg path {
  fill: none !important;
}
header .right .my-account svg,
header .right .wishlist svg,
header .right #cart_block .cart-heading .open-cart svg {
  width: 24px !important;
  height: 24px !important;
}
.product-grid .product .price .price-new,
#modalAddToCartProduct .desctope .left .tt-total .price-new {
  color: #d8ae5b;
}
.new:not(.day) {
  background: #000;
  color: #fff;
}
.sale {
  background: #d8ae5b;
  color: #fff;
}
.product-grid .product .image .add-to-cart a {
  background: #000;
}
.product-filter {
  z-index: 2;
}
body,
.shop-by-category ul li a,
.news .item .name a,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
select,
.form-control {
  font-family: Barlow;
  font-weight: 300;
}
.product-info .product-center .options .radio-type-button2,
.product-bar .container .radio-type-button2,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
select,
.form-control {
  background: #fff;
  border: 1px solid #d9d9d9;
}
.product-info .product-center .options .radio-type-button2:focus,
.product-bar .container .radio-type-button2:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
select:focus,
.form-control:focus {
  background: #fff;
}
.mfilter-checkbox .mfilter-col-input:before {
  background: #fff !important;
  border: 1px solid #e6e6e6 !important;
}
.sort select,
.limit select {
  border: none;
}
.product-info .product-center .cart .add-to-cart .button,
.btn-link,
.product-info .product-center .hurry-up .heading,
.mfilter-box *,
.add-to-cart a,
.sale,
.new:not(.day),
.list-box li,
.pagination-results ul.pagination li,
.pagination-results ul.pagination li a,
label,
ul.megamenu li .sub-menu .content .static-menu .menu ul ul li a,
ul.megamenu li .sub-menu .content .static-menu a.main-menu,
ul.megamenu li .sub-menu .content .hover-menu a,
.product-filter h1,
.box .box-heading,
h1,
h2,
h3,
h4,
h5,
h6,
legend,
.htabs a,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link,
table.attribute thead td,
table.list thead td,
.wishlist-product table thead td,
.wishlist-info table thead td,
.compare-info thead td,
.cart-info table thead td,
.checkout-product table thead td,
.table thead td,
table.attribute thead th,
table.list thead th,
.wishlist-product table thead th,
.wishlist-info table thead th,
.compare-info thead th,
.cart-info table thead th,
.checkout-product table thead th,
.table thead th {
  font-weight: 300 !important;
}
.box .box-heading,
.htabs a,
.product-info .product-center h1,
.product-filter h1 {
  text-transform: none !important;
}
.dropdown-menu > li > a {
  font-size: 13px;
  text-transform: none;
  font-weight: 300;
}
.bottom-bar .open-wishlist a svg,
.bottom-bar .open-home a svg,
.bottom-bar .open-account a svg,
.bottom-bar .open-cart a svg,
.bottom-bar .open-menu2 a svg {
  width: 24px;
  height: 24px;
}
@media (max-width: 767px) {
  ul.megamenu > li > a strong {
    font-weight: 300;
  }
}
@media (max-width: 767px) {
  .responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li a,
  .responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li a {
    font-weight: 300;
  }
}
.mobile-menu .mobile-switcher .switchers .dropdown .dropdown-toggle,
header .dropdown .dropdown-toggle,
#mobile-header-1 .top-center .mobile-switcher .switchers .dropdown .dropdown-toggle,
.product-filter .open-filter,
.product-info .product-center .button-product-question,
.product-info .product-center .links a,
.product-info .product-center .product-information-buttons a,
.product-info .product-center .review .rating a,
.product-info .product-center .description .right,
b,
strong,
.box-category ul li a {
  font-weight: 500;
}
.product-grid .row {
  margin: 0px -5px;
}
.product-grid .row > div {
  padding: 0px 5px;
}
.common-home .main-content .row {
  margin: 0px -5px;
}
.common-home .main-content .row > div {
  padding: 0px 5px;
}
.box-product .owl-carousel {
  padding: 10px;
  margin: -10px;
}
.box-product .owl-carousel .owl-item .item {
  margin-right: 0px;
}
#menu-hover-background {
  display: none;
}
.bottom-bar .open-wishlist a svg path,
.bottom-bar .open-account a svg path,
.bottom-bar .open-cart a svg path,
.bottom-bar .open-wishlist a svg g,
.bottom-bar .open-account a svg g,
.bottom-bar .open-cart a svg g {
  fill: none !important;
  stroke: #fff !important;
}
#top .top-center .right .wishlist svg path,
#top .top-center .right .wishlist svg g {
  stroke: #fff !important;
}
#top .top-center .right .my-account svg path,
#top .top-center .right .my-account svg g,
#top .top-center .right .my-account svg circle {
  stroke: #fff !important;
}
header #top .top-center .right .desktop-search .open-search a svg {
  width: 24px;
  height: 24px;
}
header #top .top-center .right .desktop-search .open-search a svg path,
header #top .top-center .right .desktop-search .open-search a svg g,
header #top .top-center .right .desktop-search .open-search a svg circle {
  stroke: #fff !important;
}
header #top .top-center .right #cart_block .cart-heading .open-cart svg g,
header #top .top-center .right #cart_block .cart-heading .open-cart svg path {
  fill: transparent !important;
  stroke: #fff !important;
}
#mobile-header-1,
#mobile-header-2,
#mobile-header-3 {
  background: #000;
}
#mobile-header-1 .top-center .open-cart2 a svg path,
#mobile-header-2 .top-center .open-cart2 a svg path,
#mobile-header-3 .top-center .open-cart2 a svg path,
#mobile-header-1 .top-center .open-cart2 a svg g,
#mobile-header-2 .top-center .open-cart2 a svg g,
#mobile-header-3 .top-center .open-cart2 a svg g {
  fill: none !important;
  stroke: #fff !important;
}
#mobile-header-1 .top-center .open-account a svg path,
#mobile-header-2 .top-center .open-account a svg path,
#mobile-header-3 .top-center .open-account a svg path,
#mobile-header-1 .top-center .open-account a svg g,
#mobile-header-2 .top-center .open-account a svg g,
#mobile-header-3 .top-center .open-account a svg g,
#mobile-header-1 .top-center .open-wishlist a svg path,
#mobile-header-2 .top-center .open-wishlist a svg path,
#mobile-header-3 .top-center .open-wishlist a svg path,
#mobile-header-1 .top-center .open-wishlist a svg g,
#mobile-header-2 .top-center .open-wishlist a svg g,
#mobile-header-3 .top-center .open-wishlist a svg g {
  stroke: #fff !important;
}
#mobile-header-1 .top-center .open-menu2 a svg path,
#mobile-header-2 .top-center .open-menu2 a svg path,
#mobile-header-3 .top-center .open-menu2 a svg path,
#mobile-header-1 .top-center .open-menu2 a svg g,
#mobile-header-2 .top-center .open-menu2 a svg g,
#mobile-header-3 .top-center .open-menu2 a svg g {
  fill: #fff !important;
}
#mobile-header-1 .top-bottom .open-menu2 svg path,
#mobile-header-2 .top-bottom .open-menu2 svg path,
#mobile-header-3 .top-bottom .open-menu2 svg path,
#mobile-header-1 .top-bottom .open-menu2 svg g,
#mobile-header-2 .top-bottom .open-menu2 svg g,
#mobile-header-3 .top-bottom .open-menu2 svg g {
  fill: #fff !important;
}
#mobile-header-1 .top-bottom .open-menu2 span,
#mobile-header-2 .top-bottom .open-menu2 span,
#mobile-header-3 .top-bottom .open-menu2 span {
  color: #fff;
}
#mobile-header-1 .top-center .mobile-switcher .switchers .dropdown .dropdown-toggle,
#mobile-header-2 .top-center .mobile-switcher .switchers .dropdown .dropdown-toggle,
#mobile-header-3 .top-center .mobile-switcher .switchers .dropdown .dropdown-toggle {
  color: #fff;
  font-weight: 400;
}
#mobile-header-1 .top-center .mobile-switcher .switchers .dropdown .dropdown-toggle:after,
#mobile-header-2 .top-center .mobile-switcher .switchers .dropdown .dropdown-toggle:after,
#mobile-header-3 .top-center .mobile-switcher .switchers .dropdown .dropdown-toggle:after {
  border-top-color: #575757;
}
#mobile-header-1 .top-bottom .right .social-links li a,
#mobile-header-2 .top-bottom .right .social-links li a,
#mobile-header-3 .top-bottom .right .social-links li a {
  color: #fff;
}
#mobile-header-1 .top-bottom .right .social-links li a:hover,
#mobile-header-2 .top-bottom .right .social-links li a:hover,
#mobile-header-3 .top-bottom .right .social-links li a:hover {
  color: #fff;
}
#mobile-header-1 .search_form .button-search,
#mobile-header-3 .search_form .button-search {
  color: #fff;
}
#mobile-header-1 .search_form input,
#mobile-header-3 .search_form input {
  background: #262626;
  border: none;
  color: #fff;
}
@media (min-width: 1098px) {
  .main-content #column_left,
  .main-content #column-left {
    -ms-flex: 0 0 21.583%;
    flex: 0 0 21.583%;
    max-width: 21.583%;
  }
}
@media (min-width: 1098px) {
  .main-content #column_left + .col-md-9,
  .main-content #column-left + .col-md-9 {
    -ms-flex: 0 0 78.417%;
    flex: 0 0 78.417%;
    max-width: 78.417%;
  }
}
.center-column .tab-content {
  background: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.breadcrumb:before {
  display: none;
}
.breadcrumb .clearfix {
  position: relative;
}
@media (min-width: 768px) {
  .breadcrumb .clearfix:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
  }
  .breadcrumb .clearfix ul {
    margin: 0px auto;
    position: relative;
    z-index: 2;
    padding-top: 0px;
  }
  .breadcrumb .clearfix ul li {
    font-size: 13px;
  }
}
.is-sticky #top {
  background: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.is-sticky #top .desktop-menu .horizontal ul.megamenu > li > a {
  height: 40px;
  padding: 5px 21px 0px 21px;
}
header .slider-header {
  background: #000000;
}
header #top .top-center {
  padding: 20px 0px 20px 0px;
}
header #top .top-center ul.menu2 {
  padding: 0px 0px 0px 5px;
  list-style: none;
  margin: 0px;
}
@media (max-width: 1340px) {
  header #top .top-center ul.menu2 {
    display: none;
  }
}
header #top .top-center ul.menu2 li {
  display: inline-block;
  vertical-align: top;
  padding: 0px 0px 0px 22px;
}
header #top .top-center ul.menu2 li a {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
}
header #top .top-center .right .search_form .button-search {
  color: #fff;
}
header #top .top-center .right .search_form .search-query {
  background: #262626;
  border: none;
  color: #fff;
}
header #top .top-center .right .search_form .search-query:focus {
  background: #262626;
}
header #top .top-center .right .dropdown .dropdown-toggle {
  color: #fff;
}
header #top .top-center .right .dropdown .dropdown-toggle:after {
  border-top-color: #4d4d4d;
}
header ul.megamenu > li > a {
  color: #fff;
}
header ul.megamenu > li > a:hover {
  color: #fff;
}
header .pattern > .desktop-menu {
  background: #000;
  border-top: 1px solid #333;
}
header .pattern > .desktop-menu .megamenu-wrapper {
  margin: 0px -23px;
  position: relative;
}
header .pattern > .desktop-menu .megamenu-wrapper ul.megamenu {
  display: flex;
}
header .pattern > .desktop-menu .megamenu-wrapper ul.megamenu > li {
  width: 25%;
  margin: 0px;
  padding: 0px;
  float: none;
}
header .pattern > .desktop-menu .megamenu-wrapper ul.megamenu > li:hover > a {
  background: #fff;
  color: #000;
}
header .pattern > .desktop-menu .megamenu-wrapper ul.megamenu > li:first-child > a:after {
  display: none !important;
}
header .pattern > .desktop-menu .megamenu-wrapper ul.megamenu > li > a {
  height: 40px;
  padding: 5px 21px 0px 21px;
  font-size: 16px;
  color: #fff;
  border: 2px solid #000;
  border-bottom: none;
  position: relative;
}
header .pattern > .desktop-menu .megamenu-wrapper ul.megamenu > li > a:before {
  display: none !important;
}
header .pattern > .desktop-menu .megamenu-wrapper ul.megamenu > li > a:after {
  content: '';
  display: block;
  position: absolute;
  left: -1px;
  top: -2px;
  bottom: 0;
  width: 1px;
  background: #333;
}
header .pattern > .desktop-menu .megamenu-wrapper ul.megamenu > li > a strong {
  font-weight: 500;
}
header .pattern > .desktop-menu .megamenu-wrapper ul.megamenu > li > a strong .megamenu-label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  top: 0px;
  left: 6px;
  font-size: 11px;
}
header .pattern > .desktop-menu .megamenu-wrapper ul.megamenu > li .sub-menu .content {
  border: 2px solid #000;
  border-top: none;
}
header .pattern > .desktop-menu .megamenu-wrapper ul.megamenu > li .sub-menu.full-width-sub-menu .content {
  margin: 0px ;
  padding: 30px 39px;
}
@media (max-width: 991px) {
  header .pattern > .desktop-menu .megamenu-wrapper ul.megamenu > li .sub-menu.full-width-sub-menu .content {
    padding: 20px 29px;
  }
}
.fashionsimple1-menu-1 {
  margin: -30px -39px;
  position: relative;
}
@media (max-width: 991px) {
  .fashionsimple1-menu-1 {
    margin: -20px -29px;
  }
}
@media (max-width: 767px) {
  .fashionsimple1-menu-1 {
    margin: 0px;
  }
}
@media (min-width: 768px) {
  .fashionsimple1-menu-1 > .row {
    margin: 0px;
  }
}
@media (min-width: 768px) {
  .fashionsimple1-menu-1 > .row > div {
    background-position: bottom right;
    background-repeat: no-repeat;
    padding: 30px 39px;
  }
}
@media (max-width: 1199px) {
  .fashionsimple1-menu-1 > .row > div {
    background: none !important;
  }
}
.fashionsimple1-menu-1 h4 {
  font-size: 14px;
  font-weight: 400;
  color: #808080;
  padding: 4px 0px 5px 0px;
  margin: 0px;
  text-transform: uppercase;
  line-height: 1.7;
}
.fashionsimple1-menu-1 h4 a {
  font-size: 14px;
  font-weight: 400;
  color: #808080;
  line-height: 1.7;
}
.fashionsimple1-menu-1 ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.fashionsimple1-menu-1 ul li a {
  font-size: 13px;
  line-height: 25px;
  color: #000;
  text-transform: uppercase;
  font-weight: 400;
}
.fashionsimple1-menu-1 .product {
  margin: -30px -39px -30px 22px;
  position: relative;
}
@media (max-width: 767px) {
  .fashionsimple1-menu-1 .product {
    margin: 0px;
  }
}
.fashionsimple1-menu-1 .product a {
  overflow: hidden;
  display: block;
}
.fashionsimple1-menu-1 .product a:hover:before {
  top: 50%;
  opacity: 0.5;
}
.fashionsimple1-menu-1 .product a:hover img {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
}
.fashionsimple1-menu-1 .product a:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 75%;
  bottom: 0;
  background: rgba(212, 228, 239, 0);
  background: -moz-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212, 228, 239, 0)), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -o-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0);
  opacity: 0;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  z-index: 2;
}
.fashionsimple1-menu-1 .product a img {
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  height: 386px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .fashionsimple1-menu-1 .product a img {
    height: auto;
    width: 100%;
  }
}
.fashionsimple1-menu-1 .product a .text {
  position: absolute;
  top: 33px;
  left: 30px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
.fashionsimple1-menu-1 .product a .text .price {
  font-size: 15px;
  font-weight: 600;
  display: block;
}
.fashionsimple1-menu-1 .brands {
  border-top: 1px solid #f3f3f3;
  margin: 95px 0px -20px 0px;
  padding: 11px 0px 0px 0px;
}
@media (max-width: 767px) {
  .fashionsimple1-menu-1 .brands {
    margin: 20px 0px 0px 0px;
    border: none;
    padding: 0px;
  }
}
.fashionsimple1-menu-1 .brands .item {
  text-align: center;
}
.fashionsimple1-menu-1 .brands .item a {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  min-height: 70px;
}
.fashionsimple1-menu-1 .brands .item a:hover img {
  opacity: 1;
}
.fashionsimple1-menu-1 .brands .item a img {
  margin: auto;
  display: block;
  width: auto;
  max-width: 70px;
  opacity: 0.5;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
.fashionsimple1-menu-2 .row {
  margin: 0px -5px;
}
.fashionsimple1-menu-2 .row > div {
  padding: 0px 5px;
}
.fashionsimple1-menu-2 h4 {
  font-size: 14px;
  font-weight: 400;
  color: #808080;
  padding: 4px 0px 5px 0px;
  margin: 0px;
  text-transform: uppercase;
  line-height: 1.7;
}
.fashionsimple1-menu-2 h4 a {
  font-size: 14px;
  font-weight: 400;
  color: #808080;
  line-height: 1.7;
}
.fashionsimple1-menu-2 ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.fashionsimple1-menu-2 ul li a {
  font-size: 13px;
  line-height: 25px;
  color: #000;
  text-transform: uppercase;
  font-weight: 400;
}
.fashionsimple1-menu-2 ul + h4 {
  padding-top: 26px;
}
.fashionsimple1-menu-2 .banner {
  display: block;
  margin: -30px -5px -30px -28px;
  position: relative;
  overflow: hidden;
  width: auto;
}
@media (max-width: 1199px) {
  .fashionsimple1-menu-2 .banner {
    margin-left: -5px;
  }
}
@media (max-width: 991px) {
  .fashionsimple1-menu-2 .banner {
    margin-top: -20px;
    margin-bottom: -20px;
  }
}
@media (max-width: 767px) {
  .fashionsimple1-menu-2 .banner {
    margin: 0px;
  }
}
.fashionsimple1-menu-2 .banner:hover:before {
  top: 50%;
  opacity: 0.5;
}
.fashionsimple1-menu-2 .banner:hover img {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
}
.fashionsimple1-menu-2 .banner:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 75%;
  bottom: 0;
  background: rgba(212, 228, 239, 0);
  background: -moz-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212, 228, 239, 0)), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -o-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0);
  opacity: 0;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  z-index: 2;
}
.fashionsimple1-menu-2 .banner img {
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  height: 425px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .fashionsimple1-menu-2 .banner img {
    height: auto;
  }
}
.fashionsimple1-menu-2 .banner p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background: #fff;
  margin: 0px;
  padding: 12px 30px 11px 30px;
  font-size: 26px;
  color: #000;
  line-height: 1.2;
  text-transform: uppercase;
  white-space: nowrap;
}
@media (max-width: 1098px) {
  .fashionsimple1-menu-2 .banner p {
    font-size: 24px;
  }
}
@media (max-width: 991px) {
  .fashionsimple1-menu-2 .banner p {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .fashionsimple1-menu-2 .banner p {
    font-size: 20px;
  }
}
.fashionsimple1-menu-2 .banner p.black {
  background: #000;
  color: #fff;
}
.fashionsimple1-menu-2 .banner2 {
  display: block;
  margin: -30px -5px -30px -5px;
  position: relative;
  overflow: hidden;
  width: auto;
}
@media (max-width: 991px) {
  .fashionsimple1-menu-2 .banner2 {
    margin-top: -20px;
    margin-bottom: -20px;
  }
}
@media (max-width: 767px) {
  .fashionsimple1-menu-2 .banner2 {
    margin: 0px;
  }
}
.fashionsimple1-menu-2 .banner2:hover:before {
  top: 50%;
  opacity: 0.5;
}
.fashionsimple1-menu-2 .banner2:hover img {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
}
.fashionsimple1-menu-2 .banner2:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 75%;
  bottom: 0;
  background: rgba(212, 228, 239, 0);
  background: -moz-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212, 228, 239, 0)), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -o-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0);
  opacity: 0;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  z-index: 2;
}
.fashionsimple1-menu-2 .banner2 img {
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  height: 425px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .fashionsimple1-menu-2 .banner2 img {
    height: auto;
  }
}
.fashionsimple1-menu-2 .banner2 p {
  position: absolute;
  left: 40px;
  bottom: 35px;
  margin: 0px;
  padding: 0px;
  font-size: 26px;
  color: #000;
  line-height: 1.2;
  text-transform: uppercase;
  white-space: nowrap;
}
@media (max-width: 1098px) {
  .fashionsimple1-menu-2 .banner2 p {
    font-size: 24px;
  }
}
@media (max-width: 991px) {
  .fashionsimple1-menu-2 .banner2 p {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .fashionsimple1-menu-2 .banner2 p {
    font-size: 20px;
  }
}
.fashionsimple1-menu-2 .banner2 p.black {
  background: #000;
  color: #fff;
}
.fashionsimple1-menu-2 .product {
  text-align: left;
  text-decoration: none;
}
.fashionsimple1-menu-2 .product .text {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  display: block;
  padding: 16px 0px 0px 0px;
  margin: 0px;
}
.fashionsimple1-menu-2 .product .text .price {
  font-size: 15px;
  font-weight: 600;
  display: block;
}
.fashionsimple1-menu-3 h4 {
  font-size: 14px;
  font-weight: 400;
  color: #808080;
  padding: 4px 0px 5px 0px;
  margin: 0px;
  text-transform: uppercase;
  line-height: 1.7;
}
.fashionsimple1-menu-3 h4 a {
  font-size: 14px;
  font-weight: 400;
  color: #808080;
  line-height: 1.7;
}
.fashionsimple1-menu-3 ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.fashionsimple1-menu-3 ul li a {
  font-size: 13px;
  line-height: 25px;
  color: #000;
  text-transform: uppercase;
  font-weight: 400;
}
.fashionsimple1-menu-3 ul + h4 {
  padding-top: 26px;
}
.fashionsimple1-menu-3 .banner {
  display: block;
  margin: -30px 10px 0px -39px;
  position: relative;
  overflow: hidden;
  width: auto;
}
@media (max-width: 991px) {
  .fashionsimple1-menu-3 .banner {
    margin-top: -20px;
    margin-left: -30px;
  }
}
@media (max-width: 767px) {
  .fashionsimple1-menu-3 .banner {
    margin: 0px;
  }
}
.fashionsimple1-menu-3 .banner:hover:before {
  top: 50%;
  opacity: 0.5;
}
.fashionsimple1-menu-3 .banner:hover img {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
}
.fashionsimple1-menu-3 .banner:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 75%;
  bottom: 0;
  background: rgba(212, 228, 239, 0);
  background: -moz-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212, 228, 239, 0)), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -o-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0);
  opacity: 0;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  z-index: 2;
}
.fashionsimple1-menu-3 .banner img {
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  height: 221px;
  object-fit: cover;
  width: 100%;
}
@media (max-width: 767px) {
  .fashionsimple1-menu-3 .banner img {
    height: auto;
  }
}
.fashionsimple1-menu-3 .banner p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background: #fff;
  margin: 0px;
  padding: 12px 30px 11px 30px;
  font-size: 36px;
  color: #000;
  line-height: 1.2;
  text-transform: uppercase;
  white-space: nowrap;
}
@media (max-width: 1098px) {
  .fashionsimple1-menu-3 .banner p {
    font-size: 32px;
  }
}
@media (max-width: 991px) {
  .fashionsimple1-menu-3 .banner p {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .fashionsimple1-menu-3 .banner p {
    font-size: 22px;
  }
}
.fashionsimple1-menu-3 .banner p.black {
  background: #000;
  color: #fff;
}
.fashionsimple1-menu-3 .brands {
  border-top: 1px solid #e5e5e5;
  margin: -1px -39px -20px -39px;
  padding: 11px 0px 0px 0px;
  width: auto;
  position: relative;
}
@media (max-width: 991px) {
  .fashionsimple1-menu-3 .brands {
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -10px;
  }
}
@media (max-width: 767px) {
  .fashionsimple1-menu-3 .brands {
    margin: 0px;
    border: none;
    padding: 0px;
  }
}
.fashionsimple1-menu-3 .brands .item {
  text-align: center;
}
.fashionsimple1-menu-3 .brands .item a {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  min-height: 70px;
}
.fashionsimple1-menu-3 .brands .item a img {
  margin: auto;
  display: block;
  width: auto;
  max-width: 70px;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
.main-content .pattern > .container,
.standard-body .main-content .pattern > .container {
  padding-bottom: 0px;
}
.standard-body .footer .background {
  background: #fff;
}
.footer .background {
  background: #fff;
}
.footer .background .pattern {
  color: #000;
}
.footer .background .pattern a {
  color: #000;
}
.footer .background .pattern a:hover {
  color: #000;
}
.footer .background h4 {
  color: #808080;
  padding: 72px 0px 9px 0px;
  margin: 0px;
}
@media (max-width: 767px) {
  .footer .background h4 {
    padding: 36px 0px 8px 0px;
  }
}
.footer .background ul li a {
  font-size: 13px;
  line-height: 25px;
  font-weight: 400;
}
.footer .background .instagram {
  margin: 0px;
  padding: 60px 0px 0px 0px;
}
@media (max-width: 767px) {
  .footer .background .instagram {
    padding: 30px 0px 0px 0px;
  }
}
.footer .background .instagram .instagram-title {
  font-size: 30px;
  padding: 0px 0px 22px 0px;
  font-weight: 300;
  text-transform: none;
}
@media (max-width: 1098px) {
  .footer .background .instagram .instagram-title {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .footer .background .instagram .instagram-title {
    font-size: 20px;
    padding-bottom: 15px;
  }
}
.footer .background .instagram .instagram-title span {
  color: #000;
  text-decoration: underline;
}
.footer .background .instagram #instafeed {
  margin: 0px -5px;
  position: relative;
}
.footer .background .instagram #instafeed > a {
  min-width: 14.2857%;
  padding: 0px 5px;
}
@media (max-width: 1280px) {
  .footer .background .instagram #instafeed > a {
    min-width: 20%;
  }
}
@media (max-width: 991px) {
  .footer .background .instagram #instafeed > a {
    min-width: 25%;
  }
}
.footer .background .instagram #instafeed > a:before {
  left: 5px;
  right: 5px;
}
.footer .background .instagram #instafeed > a img {
  width: 185px;
  height: 185px;
  min-width: 100%;
}
@media (max-width: 767px) {
  .footer .background .instagram #instafeed > a img {
    width: 90px;
    height: 90px;
  }
}
.footer .background .footer-newsletter {
  padding: 70px 0px 0px 0px;
  margin: 0px;
}
@media (max-width: 767px) {
  .footer .background .footer-newsletter {
    padding: 35px 0px 0px 0px;
    display: block !important;
    text-align: center;
  }
}
.footer .background .footer-newsletter h5 {
  color: #000;
  padding: 0px 0px 18px 0px;
  text-transform: none;
}
@media (max-width: 767px) {
  .footer .background .footer-newsletter h5 {
    padding: 0px 0px 9px 0px;
  }
}
.footer .background .footer-newsletter .line {
  display: none;
}
.footer .background .footer-newsletter .content {
  background: none;
  margin: 0px auto;
  padding: 0px;
}
@media (max-width: 767px) {
  .footer .background .footer-newsletter .content {
    width: 100%;
    margin: 15px 0px 0px 0px;
  }
}
.footer .background .footer-newsletter .content input {
  margin: 0px 0px 0px auto;
  background: #fff;
  border: 1px solid #d9d9d9;
  color: #000;
}
@media (max-width: 991px) {
  .footer .background .footer-newsletter .content input {
    width: 100%;
  }
}
.footer .background .footer-newsletter .button {
  margin-bottom: auto;
  margin-right: auto;
  margin-left: 10px;
  font-size: 14px;
  padding: 9px 30px 9px 30px;
  background: #000 !important;
  color: #fff !important;
}
.footer .background .footer-newsletter .checkbox {
  padding-left: 30px;
  padding-top: 20px;
}
.footer .background .footer-newsletter .checkbox label {
  font-size: 15px;
  color: #999999;
}
@media (max-width: 767px) {
  .footer .background .footer-newsletter .checkbox label {
    font-size: 14px;
  }
}
.footer .background .footer-newsletter .checkbox label .custom-control-indicator {
  background: #fff;
  border: 1px solid #d9d9d9;
  top: 2px;
}
.footer .background .footer-newsletter .checkbox label .custom-control-input:checked ~ .custom-control-indicator:before {
  color: #000;
}
.footer .background .open-footer-menu .icon span {
  background: #000;
  height: 3px;
}
.footer .background .open-footer-menu .text {
  color: #000;
  font-weight: 400;
}
.footer .background .fashionsimple4-about-us {
  padding-top: 53px;
}
@media (max-width: 767px) {
  .footer .background .fashionsimple4-about-us {
    padding: 34px 0px 0px 0px;
  }
}
@media (max-width: 767px) {
  .footer .background .fashionsimple4-about-us .d-flex {
    flex-wrap: wrap;
  }
}
.footer .background .fashionsimple4-about-us .logo {
  padding-right: 50px;
  min-width: 25.55%;
}
@media (max-width: 767px) {
  .footer .background .fashionsimple4-about-us .logo {
    padding: 0px;
    width: 100%;
    text-align: center;
  }
}
.footer .background .fashionsimple4-about-us p {
  padding-right: 50px;
  font-size: 14px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .footer .background .fashionsimple4-about-us p {
    padding: 22px 0px 0px 0px;
    width: 100%;
    text-align: center;
  }
}
.footer .background .fashionsimple4-about-us .social-links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px 0px 0px 10px;
  margin: 0px;
}
@media (max-width: 767px) {
  .footer .background .fashionsimple4-about-us .social-links {
    padding: 15px 0px 0px 0px;
    width: 100%;
  }
}
.footer .background .fashionsimple4-about-us .social-links li {
  margin: 0px 23px 0px 0px;
}
@media (max-width: 767px) {
  .footer .background .fashionsimple4-about-us .social-links li {
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer .background .fashionsimple4-about-us .social-links li:first-child {
    margin-left: auto;
  }
  .footer .background .fashionsimple4-about-us .social-links li:last-child {
    margin-right: auto;
  }
}
.footer .background .fashionsimple4-about-us .social-links li a {
  color: #000;
  font-size: 17px;
}
.footer .background .fashionsimple4-about-us .social-links li a:hover {
  color: #000;
}
.footer .background .fashionsimple4-footer-bar {
  position: relative;
  margin: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 55px 0px 0px 0px;
}
@media (max-width: 767px) {
  .footer .background .fashionsimple4-footer-bar {
    margin: 35px 0px 0px 0px;
    padding: 4px 0px;
  }
}
.footer .background .fashionsimple4-footer-bar .row > div {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
  .footer .background .fashionsimple4-footer-bar .row > div {
    border: none;
  }
}
.footer .background .fashionsimple4-footer-bar .row > div:first-child {
  border: none;
}
.footer .background .fashionsimple4-footer-bar .item {
  padding: 7px 10px 7px 10px;
}
@media (max-width: 767px) {
  .footer .background .fashionsimple4-footer-bar .item {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.footer .background .fashionsimple4-footer-bar .item .image {
  margin: 0px 13px 0px auto;
}
.footer .background .fashionsimple4-footer-bar .item .text {
  margin: 0px auto 0px 0px;
  font-size: 13px;
  color: #000;
  text-transform: uppercase;
}
.standard-body .copyright .background {
  background: #fff;
}
.copyright .background {
  background: #fff;
}
.copyright .background .pattern {
  color: #999999;
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 25px;
}
.copyright .background .pattern a {
  color: #999;
}
.copyright .background .pattern ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.copyright .background .pattern ul li {
  display: inline-block;
  vertical-align: top;
  padding: 4px 20px 12px 0px;
}
@media (max-width: 767px) {
  .copyright .background .pattern ul li {
    padding-top: 0px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
.copyright .background .pattern ul li a {
  color: #000;
  font-size: 13px;
}
.slider-text .first-heading {
  font-size: 25px;
  font-weight: 300;
  color: #fff;
  padding: 0px;
  margin: 0px;
}
.slider-text .second-heading {
  font-size: 80px;
  line-height: 0.88;
  color: #fff;
  font-weight: 300;
  padding: 10px 0px 0px 0px;
  margin: 0px;
}
.slider-text .slider-button {
  padding: 41px 0px 0px 0px;
}
.slider-text .slider-button a {
  display: inline-block;
  background: #fff;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px 30px 8px 30px;
}
.fashionsimple4-categories {
  padding: 42px 0px 0px 0px;
}
@media (max-width: 767px) {
  .fashionsimple4-categories {
    padding: 36px 0px 0px 0px;
  }
}
.fashionsimple4-categories .item a {
  display: block;
  text-align: center;
}
.fashionsimple4-categories .item a .image {
  min-height: 60px;
  margin: 0px;
  padding: 0px;
}
.fashionsimple4-categories .item a .image img {
  margin: auto;
  width: auto;
}
.fashionsimple4-categories .item a .text {
  margin: 0px;
  padding: 6px 0px 0px 0px;
  font-size: 13px;
  text-transform: uppercase;
}
.button-with-line {
  text-align: center;
  position: relative;
  margin: 51px 0px 0px 0px;
}
@media (max-width: 767px) {
  .button-with-line {
    margin: 30px 0px 0px 0px;
  }
}
.button-with-line:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}
.button-with-line .btn {
  background: #fff !important;
  border: 1px solid #e6e6e6 !important;
  color: #000 !important;
  font-size: 12px !important;
  text-transform: uppercase;
  padding: 2px 22px 3px 22px;
  position: relative;
  z-index: 2;
}
.fashionsimple4-banners-1 {
  padding: 50px 0px 0px 0px;
}
@media (max-width: 767px) {
  .fashionsimple4-banners-1 {
    padding: 30px 0px 0px 0px;
  }
}
.fashionsimple4-banners-1 .row {
  margin: 0px -5px;
}
.fashionsimple4-banners-1 .row > div {
  padding: 0px 5px;
}
.fashionsimple4-banners-1 .banner {
  margin: 10px 0px 0px 0px;
  background-size: cover;
  background-position: center;
  height: 450px;
  position: relative;
  text-align: center;
  overflow: hidden;
}
@media (max-width: 1098px) {
  .fashionsimple4-banners-1 .banner {
    height: 420px;
  }
}
@media (max-width: 991px) {
  .fashionsimple4-banners-1 .banner {
    height: 360px;
  }
}
@media (max-width: 767px) {
  .fashionsimple4-banners-1 .banner {
    height: 210px;
  }
}
.fashionsimple4-banners-1 .banner:hover .banner-image:before {
  top: 50%;
  opacity: 0.5;
}
.fashionsimple4-banners-1 .banner .banner-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: top left;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
.fashionsimple4-banners-1 .banner .banner-image:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 75%;
  bottom: 0;
  background: rgba(212, 228, 239, 0);
  background: -moz-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212, 228, 239, 0)), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -o-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0);
  opacity: 0;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
.fashionsimple4-banners-1 .banner .banner-content {
  position: absolute;
  left: 0px;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.fashionsimple4-banners-1 .banner .banner-content h3 {
  font-size: 20px;
  line-height: 1;
  color: #000;
  text-transform: uppercase;
  font-weight: 300;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 1098px) {
  .fashionsimple4-banners-1 .banner .banner-content h3 {
    font-size: 19px;
  }
}
@media (max-width: 991px) {
  .fashionsimple4-banners-1 .banner .banner-content h3 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .fashionsimple4-banners-1 .banner .banner-content h3 {
    font-size: 16px;
  }
}
.fashionsimple4-banners-1 .banner .banner-content h4 {
  font-size: 70px;
  line-height: 0.95;
  color: #000;
  text-transform: uppercase;
  font-weight: 300;
  padding: 11px 0px 0px 0px;
  margin: 0px;
}
@media (max-width: 1098px) {
  .fashionsimple4-banners-1 .banner .banner-content h4 {
    font-size: 62px;
  }
}
@media (max-width: 991px) {
  .fashionsimple4-banners-1 .banner .banner-content h4 {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .fashionsimple4-banners-1 .banner .banner-content h4 {
    font-size: 30px;
    padding-top: 7px;
  }
}
.fashionsimple4-banners-1 .banner .banner-content .btn {
  font-size: 15px !important;
  background: #000 !important;
  color: #fff !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  padding: 4px 30px 4px 30px;
  margin: 34px 0px 0px 0px;
}
@media (max-width: 767px) {
  .fashionsimple4-banners-1 .banner .banner-content .btn {
    margin-top: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.fashionsimple4-banners-1 .banner .banner-content .btn.white {
  background: #fff !important;
  color: #000 !important;
}
.fashionsimple4-brands {
  padding: 73px 0px 0px 0px;
}
@media (max-width: 767px) {
  .fashionsimple4-brands {
    padding: 36px 0px 0px 0px;
  }
}
.fashionsimple4-brands .title {
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  padding-top: 17px;
}
@media (max-width: 767px) {
  .fashionsimple4-brands .title {
    font-size: 18px;
  }
}
.fashionsimple4-brands .item {
  text-align: center;
}
.fashionsimple4-brands .item a {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  min-height: 70px;
}
.fashionsimple4-brands .item a img {
  margin: auto;
  display: block;
  width: auto;
  max-width: 80%;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
.fashionsimple4-banners-2 {
  padding: 65px 0px 0px 0px;
}
@media (max-width: 767px) {
  .fashionsimple4-banners-2 {
    padding: 30px 0px 0px 0px;
  }
}
.fashionsimple4-banners-2 .row {
  margin: 0px -5px;
}
.fashionsimple4-banners-2 .row > div {
  padding: 0px 5px;
}
.fashionsimple4-banners-2 .col-md-12 .banner {
  height: 590px;
}
@media (max-width: 767px) {
  .fashionsimple4-banners-2 .col-md-12 .banner {
    height: 300px;
  }
}
.fashionsimple4-banners-2 .col-md-12 .banner .banner-content h3 {
  color: #fff;
  font-size: 25px;
}
@media (max-width: 1098px) {
  .fashionsimple4-banners-2 .col-md-12 .banner .banner-content h3 {
    font-size: 23px;
  }
}
@media (max-width: 991px) {
  .fashionsimple4-banners-2 .col-md-12 .banner .banner-content h3 {
    font-size: 21px;
  }
}
@media (max-width: 767px) {
  .fashionsimple4-banners-2 .col-md-12 .banner .banner-content h3 {
    font-size: 18px;
  }
}
.fashionsimple4-banners-2 .col-md-12 .banner .banner-content h4 {
  color: #fff;
  font-size: 70px;
  line-height: 1;
}
@media (max-width: 1098px) {
  .fashionsimple4-banners-2 .col-md-12 .banner .banner-content h4 {
    font-size: 60px;
  }
}
@media (max-width: 991px) {
  .fashionsimple4-banners-2 .col-md-12 .banner .banner-content h4 {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  .fashionsimple4-banners-2 .col-md-12 .banner .banner-content h4 {
    font-size: 30px;
  }
}
.fashionsimple4-banners-2 .col-md-12 .banner .banner-content .btn {
  background: #fff !important;
  color: #000 !important;
  padding: 9px 30px;
}
@media (max-width: 767px) {
  .fashionsimple4-banners-2 .col-md-12 .banner .banner-content .btn {
    padding: 4px 30px;
  }
}
.fashionsimple4-banners-2 .col-md-6 + .col-md-6 .banner .banner-content {
  left: 100px !important;
}
@media (max-width: 991px) {
  .fashionsimple4-banners-2 .col-md-6 + .col-md-6 .banner .banner-content {
    left: 50px !important;
  }
}
@media (max-width: 767px) {
  .fashionsimple4-banners-2 .col-md-6 + .col-md-6 .banner .banner-content {
    left: 20px !important;
  }
}
.fashionsimple4-banners-2 .banner {
  margin: 10px 0px 0px 0px;
  background-size: cover;
  background-position: center;
  height: 490px;
  position: relative;
  text-align: center;
  overflow: hidden;
}
@media (max-width: 767px) {
  .fashionsimple4-banners-2 .banner {
    height: 250px;
  }
}
.fashionsimple4-banners-2 .banner:hover .banner-image {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
}
.fashionsimple4-banners-2 .banner:hover .banner-image:before {
  top: 50%;
  opacity: 0.5;
}
.fashionsimple4-banners-2 .banner .banner-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
.fashionsimple4-banners-2 .banner .banner-image:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 75%;
  bottom: 0;
  background: rgba(212, 228, 239, 0);
  background: -moz-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212, 228, 239, 0)), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -o-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0);
  opacity: 0;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
.fashionsimple4-banners-2 .banner .banner-content {
  position: absolute;
  left: 100px;
  right: 20px;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
@media (max-width: 767px) {
  .fashionsimple4-banners-2 .banner .banner-content {
    left: 20px !important;
  }
}
.fashionsimple4-banners-2 .banner .banner-content h3 {
  font-size: 20px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 1098px) {
  .fashionsimple4-banners-2 .banner .banner-content h3 {
    font-size: 19px;
  }
}
@media (max-width: 991px) {
  .fashionsimple4-banners-2 .banner .banner-content h3 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .fashionsimple4-banners-2 .banner .banner-content h3 {
    font-size: 16px;
  }
}
.fashionsimple4-banners-2 .banner .banner-content h4 {
  font-size: 60px;
  line-height: 0.9;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  padding: 10px 0px 0px 0px;
  margin: 0px;
}
@media (max-width: 1098px) {
  .fashionsimple4-banners-2 .banner .banner-content h4 {
    font-size: 52px;
  }
}
@media (max-width: 991px) {
  .fashionsimple4-banners-2 .banner .banner-content h4 {
    font-size: 42px;
  }
}
@media (max-width: 767px) {
  .fashionsimple4-banners-2 .banner .banner-content h4 {
    font-size: 32px;
    padding-top: 7px;
  }
}
.fashionsimple4-banners-2 .banner .banner-content .btn {
  font-size: 15px !important;
  background: #000 !important;
  color: #fff !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  padding: 4px 30px 4px 30px;
  margin: 27px 0px 0px 0px;
}
@media (max-width: 767px) {
  .fashionsimple4-banners-2 .banner .banner-content .btn {
    margin: 22px 0px 0px 0px;
  }
}
.fashionsimple4-banners-2 .banner .banner-content .btn.white {
  background: #fff !important;
  color: #000 !important;
}
/* 28.12.2019 */
/* header 5 */
header #top-bar .right #cart_block {
  background: #000;
}
header #top-bar .right #cart_block .cart-heading .open-cart svg path,
header #top-bar .right .wishlist svg path,
header #top-bar .right #cart_block .cart-heading .open-cart svg g,
header #top-bar .right .wishlist svg g {
  fill: transparent !important;
  stroke: #fff !important;
}
/* Header 6 */
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading svg path,
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading svg g {
  fill: transparent !important;
  stroke: #fff !important;
}
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading .cart-count {
  background: #000;
  color: #fff;
}
header .slider-header #top .menu2 .wishlist .wishlist-count {
  background: #000;
  color: #fff;
}
/* header 12 */
#top .top-center .right .desktop-search .search_form .search-cat {
  background: #000;
}
/* header 14 */
#top .top-center .desktop-search .search_form .search-cat {
  background: #000;
}
/* Header 17 */
#slider .desktop-search .search_form {
  border-color: #000;
}
/* Black header */
header.header-type-6 .slider-header #top .menu2 {
  border-color: rgba(255, 255, 255, 0.15);
}
header.header-type-6 .slider-header #top .menu2 > * {
  border-color: rgba(255, 255, 255, 0.15);
}
header.header-type-6 .slider-header #top .menu2 .desktop-search .open-search a svg path,
header.header-type-6 .slider-header #top .menu2 .my-account svg path,
header.header-type-6 .slider-header #top .menu2 .wishlist svg path,
header.header-type-6 .slider-header #top .menu2 .desktop-search .open-search a svg g,
header.header-type-6 .slider-header #top .menu2 .my-account svg g,
header.header-type-6 .slider-header #top .menu2 .wishlist svg g,
header.header-type-6 .slider-header #top .menu2 .desktop-search .open-search a svg circle,
header.header-type-6 .slider-header #top .menu2 .my-account svg circle,
header.header-type-6 .slider-header #top .menu2 .wishlist svg circle,
header.header-type-6 .slider-header #top .menu2 .desktop-search .open-search a svg line,
header.header-type-6 .slider-header #top .menu2 .my-account svg line,
header.header-type-6 .slider-header #top .menu2 .wishlist svg line {
  fill: transparent !important;
  stroke: #fff !important;
}
header.header-type-6 .slider-header #top .menu2 .wishlist .wishlist-count {
  background: #fff;
  color: #000;
}
header.header-type-6 .slider-header #top .bottom .switchers .dropdown .dropdown-toggle,
header.header-type-6 .slider-header #top .bottom .social-links li a {
  color: #fff;
}
header.header-type-8 .slider-header #top-bar {
  border: none;
}
header .slider-header #top-bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  color: #fff;
}
header .slider-header #top-bar a {
  color: #fff;
}
header .slider-header #top-bar .dropdown-menu a {
  color: #000;
}
header .slider-header #top-bar .left .social-links li a {
  color: #525252;
}
header .slider-header #top-bar .left .social-links li a:hover {
  color: #fff;
}
header .slider-header #top-bar .right ul.menu,
header .slider-header #top-bar .right .welcome-text {
  border-color: rgba(255, 255, 255, 0.15);
}
header .slider-header #top-bar .right ul.menu a,
header .slider-header #top-bar .right .welcome-text a {
  color: #fff;
}
header .slider-header .top-center .right .dropdown .dropdown-toggle {
  color: #fff;
}

/*
     FILE ARCHIVED ON 10:13:52 Aug 10, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:53:58 Sep 19, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 82.807
  exclusion.robots: 0.085
  exclusion.robots.policy: 0.076
  cdx.remote: 0.051
  esindex: 0.007
  LoadShardBlock: 53.271 (3)
  PetaboxLoader3.datanode: 79.24 (4)
  load_resource: 65.587
  PetaboxLoader3.resolve: 29.636
*/