
/*
     FILE ARCHIVED ON 10:13:46 Aug 10, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:53:58 Sep 19, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 87.21
  exclusion.robots: 0.137
  exclusion.robots.policy: 0.124
  cdx.remote: 0.085
  esindex: 0.014
  LoadShardBlock: 46.873 (3)
  PetaboxLoader3.datanode: 47.988 (4)
  load_resource: 128.205
  PetaboxLoader3.resolve: 65.439
*/