header #top-bar {
  border: none;
  height: 10px;
}
header #top-bar .pattern {
  position: relative;
  z-index: 2;
}
header #top .top-center {
  position: relative;
  padding: 25px 0px;
}
@media (max-width: 1280px) {
  header #top .top-center {
    padding: 20px 0px;
  }
}
header #top .top-center .desktop-menu {
  padding: 0px 0px 0px 80px;
}
header #top .top-center .desktop-menu .megamenu-wrapper {
  position: static;
}
header #top .top-center .desktop-menu ul.megamenu {
  position: static;
}
header #top .top-center .desktop-menu ul.megamenu > li > a {
  padding-top: 12px;
}
header #top .top-center .desktop-menu ul.megamenu > li > a:before {
  margin-bottom: -5px;
}
header #top .top-center .desktop-menu ul.megamenu > li > a .megamenu-label {
  top: -4px;
}
header #top .top-center .right .desktop-search {
  position: relative;
  margin: 0px;
  width: auto;
}
header #top .top-center .right .desktop-search .open-search a {
  cursor: pointer;
}
header #top .top-center .right .desktop-search .open-search a svg {
  width: 26px;
  height: 26px;
}
header #top .top-center .right .desktop-search .search_form {
  display: none;
  width: 305px;
}
header #top .top-center .right .desktop-search .search_form.active {
  display: block;
  position: absolute;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  right: -30px;
  margin: 10px 0px 0px 0px;
  padding: 15px;
}
header #top .top-center .right .desktop-search .search_form.active .button-search {
  right: 27px;
}
header #top .top-center .right .my-account {
  margin-left: 25px;
}
.is-sticky #top .pattern > .container {
  display: block;
}
.is-sticky #top .pattern > .container .top-center {
  padding: 10px 0px;
  display: flex !important;
}
.is-sticky #top .pattern > .container .desktop-menu .horizontal {
  padding-top: 0px !important;
}
.is-sticky #top .pattern > .container .desktop-menu .horizontal ul.megamenu > li > a {
  height: 50px;
  padding-top: 12px;
}
.is-sticky #top .pattern > .container .desktop-menu .horizontal ul.megamenu > li > a .megamenu-label {
  top: -4px;
}

/*
     FILE ARCHIVED ON 10:13:49 Aug 10, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:53:57 Sep 19, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 127.905
  exclusion.robots: 0.161
  exclusion.robots.policy: 0.143
  cdx.remote: 0.111
  esindex: 0.016
  LoadShardBlock: 100.415 (3)
  PetaboxLoader3.resolve: 59.252 (2)
  PetaboxLoader3.datanode: 50.145 (4)
  load_resource: 25.512
*/